:root {
  --dark-color: #fff;
  --light-color: #000;
  --flower-color: #ff69b4;
  --leaf-color: #32cd32;
  --background-gradient: linear-gradient(to top, #fff, #f0f0f0);
}

body {
  background-color: var(--dark-color);
}

.night {
  background-image: var(--background-gradient);
}

.flower__leaf {
  background-color: var(--flower-color);
  background-image: linear-gradient(to top, #ff69b4, #ffb6c1);
}

.flower__line {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent, rgba(0, 0, 0, 0.2)), linear-gradient(to top, transparent 10%, #32cd32, #98fb98);
}

.flower__line__leaf {
  background-image: linear-gradient(to top, rgba(50, 205, 50, 0.4), #98fb98);
}

.flower__white-circle {
  background-color: #000;
}

.flower__light {
  background-color: #ff0;
}

.flower__grass__leaf {
  background-image: linear-gradient(to top, transparent, transparent 30%, var(--leaf-color));
}

.flower__g-long__bottom {
  background-image: linear-gradient(to top, transparent 30%, var(--leaf-color));
}

.flower__g-right .leaf {
  background-image: linear-gradient(to bottom, transparent, var(--light-color) 60%);
}

.flower__g-front__leaf {
  background-image: linear-gradient(to bottom left, transparent, var(--light-color)), linear-gradient(to bottom right, var(--leaf-color) 50%, transparent 50%, transparent);
}

.flower__g-fr .leaf {
  background-image: linear-gradient(to top, transparent 25%, var(--leaf-color) 50%);
}

.flower__g-fr__leaf {
  background-image: linear-gradient(to bottom left, transparent, var(--light-color) 98%), linear-gradient(to bottom right, #32cd32 45%, transparent 50%, transparent);
}

.long-g .leaf {
  background-image: linear-gradient(to top, transparent 20%, var(--light-color));
}
